@model EntityLayer.Concrete.Product

@{
    var categories = ViewBag.CategoryList as SelectList;
}

@{
    ViewBag.Title = "EditProduct";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<br />
<h2>Kategori Güncelleme Sayfası</h2>
@using (Html.BeginForm("EditProduct", "AdminProduct", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Ürün Id")
        @Html.TextBoxFor(x => x.ProductId)
        <br />
        @Html.Label("Ürün Adı")
        @Html.TextBoxFor(x => x.ProductName)
        <br />
        @Html.Label("Ürün Açıklaması")
        @Html.TextBoxFor(x => x.Description)
        <br />
        @Html.Label("Ürün Fiyatı")
        @Html.TextBoxFor(x => x.Price)
        <br /><br />
        <button class="btn btn-success">Güncelle</button>
    </div>
}
