@using EntityLayer.Concrete
@model List<Product>
    s
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Ürünler</h1>
<br />
<table class="table table-bordered">
    <tr>
        <th>Product Id</th>
        <th>Product Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Category</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Kategoriler</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProductId</td>
            <td>@item.ProductName</td>
            <td>@item.Description</td>
            <td>@item.Price</td>
            <td>@item.Category.CategoryName</td>
            <td><a href="/AdminProduct/DeleteProduct/@item.ProductId" class="btn btn-danger">Sil</a></td>
            <td><a href="/AdminProduct/EditProduct/@item.ProductId" class="btn btn-warning">Güncelle</a></td>
            <td><a href="/AdminCategory/Index" class="btn btn-primary">Kategoriler</a></td>
        </tr>
    }
</table>
<a href="/AdminProduct/AddProduct" class="btn btn-info">Ekle</a>

